@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  height: 100%;
}

.ProfileLabelName {
  &.header {
    height: 100%;
    @include mobile {
      display: none;
    }

    @include tablet {
      display: block;
    }

    @include desktop {
      display: block;
    }
  }

  &.dropdown {
    @include mobile {
      font-size: $font_size_small;
    }

    @include tablet {
      font-size: $font_size_medium;
    }

    @include desktop {
      font-size: $font_size_medium;
    }
  }

  &.card {
    @include mobile {
      font-size: $font_size_xsmall;
    }

    @include tablet {
      font-size: $font_size_small;
    }

    @include desktop {
      font-size: $font_size_small;
    }
  }
}
