@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  display: flex;
  text-align: center;
  width: 100%;
  box-shadow: 0 0.1rem 0 0 $outline;
  height: 7rem;

  @include mobile {
    padding: 1.3rem 1.2rem 1.3rem 7.9rem;
  }

  @include tablet {
    padding: 1.6rem 4rem 1.6rem 22.8rem;
  }

  @include desktop {
    padding: 1.6rem 8rem 1.6rem 34rem;
  }
}
