@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include mobile {
    padding: 2.4rem;
    gap: 2.4rem;
  }
  @include tablet {
    padding: 4rem;
    gap: 4rem;
  }
  @include desktop {
    gap: 4.4rem;
  }
}
