@import '../../../styles/variables';
@import '../../../styles/mixin';

.container {
  @include mobile {
    width: 32.7rem;
    height: 76.6rem;
  }

  @include tablet {
    width: 50.6rem;
    height: 90.7rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.subtitle {
  font-size: $font_size_large;
}

.star {
  color: $primary;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include mobile {
    width: 100%;
    height: 7.1rem;
  }

  @include tablet {
    width: 21.7rem;
    height: 7.9rem;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include mobile {
    height: 7.1rem;
  }

  @include tablet {
    height: 7.9rem;
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include mobile {
    height: 11.3rem;
  }

  @include tablet {
    height: 12.7rem;
  }
}

.calender-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include mobile {
    height: 7.1rem;
  }

  @include tablet {
    height: 7.9rem;
  }
}

.tag-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include mobile {
    height: 7.1rem;
  }

  @include tablet {
    height: 7.9rem;
  }
}

.image-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include mobile {
    height: 10.5rem;
  }

  @include tablet {
    height: 18.5rem;
  }
}

.modal-name {
  font-size: $font_size_xxlarge;
  font-weight: 700;
}

.footer {
  display: flex;
  width: 100%;

  @include mobile {
    justify-content: space-around;
  }

  @include tablet {
    justify-content: right;
    gap: 1.2rem;
  }
}

.input {
  border-radius: 0.6rem;
  border: 0.1rem solid $outline;
  height: 4.8rem;
  padding: 1.3rem 1.6rem;
  width: 100%;
  outline: none;

  &:focus {
    border: 0.1rem solid $primary;
  }

  &.description {
    @include mobile {
      height: 8.4rem;
    }

    @include tablet {
      height: 9.6rem;
    }
  }
}
