@import '../../../styles/mixin';
.main {
  @include mobile {
    padding-left: 6.7rem;
  }
  @include tablet {
    padding-left: 16rem;
  }
  @include desktop {
    padding-left: 30rem;
  }
}

.isOpened {
  padding-left: 6.7rem;
}
