@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  position: relative;
  display: flex;
  align-items: center;
}

.button-list {
  display: flex;
  background-color: $surface_container;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2rem;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $outline;
  box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.08);
}

.button {
  width: 8.1rem;
  height: 3.2rem;

  &:hover {
    border-radius: 0.4rem;
    background: $violet_f1effd;
    color: $primary;
  }

  @include mobile {
    width: 7.4rem;
    height: 3rem;
    font-size: $font_size_xsmall;
  }
  @include tablet {
    width: 8.1rem;
    height: 3.2rem;
    font-size: $font_size_small;
  }
}

.kebab {
  @include mobile {
    width: 2rem;
    height: 2rem;
  }
  @include tablet {
    width: 2.8rem;
    height: 2.8rem;
  }
}
