@import '../../../styles/mixin';
@import '../../../styles/variables';

.NumChip {
  display: flex;
  min-width: 2rem;
  max-width: fit-content;
  height: 2rem;
  padding: 0.3rem 0.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  background: $gray_eeeeee;
}

/* 스타일 for the chip text */
.countNumber {
  color: $gray_787486;
  text-align: center;
  font-size: 1.2rem;
}
