@import '../../../styles/variables';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input {
  width: 100%;
  border: 0.1rem solid $gray_d9d9d9;
  border-radius: 0.8rem;
  padding: 1.5rem 1.6rem;
  outline: none;

  font-size: $font_size_medium;
  color: $black_333236;
  font-weight: 400;

  transition: border-color 0.2s ease-in-out;

  &::placeholder {
    color: $gray_9fa6b2;
  }

  &:focus {
    border-color: $violet_5534da;
  }

  &.error {
    border-color: $red_d6173a;
  }
}

.messageContainer {
  color: $red_d6173a;
  font-size: $font_size_small;
  font-weight: 400;
}
