@import '../../../styles/variables';
@import '../../../styles/mixin';

.modal-header {
  font-family: Pretendard;
  @include mobile {
    margin: 0;
    font-size: 2rem;
    color: $black_333236;
    font-weight: 700;
    line-height: normal;
  }
  @include tablet {
    font-size: 2.4rem;
  }
}
.modal-body {
  p {
    @include mobile {
      margin: 2.4rem 0 0;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: normal;
      color: $black_333236;
    }
    @include tablet {
      margin: 3.2rem 0 0 0;
      font-size: 1.8rem;
    }
  }
  input {
    @include mobile {
      width: 28.7rem;
      margin: 1rem 0 0 0;
      border: 0.1rem solid $gray_d9d9d9;
      font-size: 1.4rem;
      background: $white_ffffff;

      color: $black_333236;
      line-height: normal;
    }
    @include tablet {
      width: 48.4rem;
      border-radius: 0.6rem;
      font-size: 1.6rem;
    }
  }
}
.modal-footer {
  display: flex;
  @include mobile {
    margin-top: 2.4rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  @include tablet {
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 2.8rem;
    flex-direction: row;
    align-items: flex-end;
  }

  .right {
    display: flex;
    gap: 1.2rem;
    @include mobile {
      margin-top: 1.6rem;
    }
    @include tablet {
      margin-top: 0;
    }
  }
  .delete {
    color: $gray_9fa6b2;
    font-family: Pretendard;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
}

.modal-delete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(54rem - 5.6rem);
  height: calc(25rem - 5.6rem);
  flex-shrink: 0;
  .modal-delete-text {
    height: 100%;
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .modal-footer {
    justify-content: flex-end;
  }
}
.modal-delete-text {
  color: $black_333236;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
