//
// Variables
// ---------------------------------------// ---------------------------------------

//== Colors
//
//## 요구되는 색상을 변수로 설정

// primary
$violet_5534da: #5534da !default; //primary
$violet_f1effd: #f1effd !default; //primary container

// 무채색 계열
$black_000000: #000 !default;
$black_171717: #171717 !default;
$black_333236: #333236 !default;
$black_4b4b4b: #4b4b4b !default;
$gray_787486: #787486 !default;
$gray_9fa6b2: #9fa6b2 !default;
$gray_d9d9d9: #d9d9d9 !default;
$gray_eeeeee: #eeeeee !default;
$gray_fafafa: #fafafa !default;
$white_ffffff: #ffffff !default;

// 대시보드 색상
$purple_760dde: #760dde !default;
$red_d6173a: #d6173a !default;
$green_7ac555: #7ac555 !default;
$orange_ffa500: #ffa500 !default;
$blue_76a6ea: #76a6ea !default;
$pink_e876ea: #e876ea !default;

// 색상 시스템
$primary: $violet_5534da !default;
$surface: $white_ffffff !default;
$on_surface: $black_333236 !default;
$surface_dim: $gray_9fa6b2 !default;
$outline: $black_333236 !default;
$error: $red_d6173a !default;

//== Scaffolding
//
// 글로벌 스타일 설정

//** <body> 태그의 기본 배경색
$body_bg: $white_ffffff !default;
//** <body> 태그 내의 기본 폰트색
$text_color: $black_333236 !default;
$hint_color: $gray_9fa6b2 !default;


//== Tyfography
//
//## 폰트패밀리, 폰트사이즈, 행높이

// 폰트패밀리
$font_family_sans-serif: "Pretendard-Regular", Arial, sans-serif !default;
$font_family_base: $font_family_sans-serif !default;

// 폰트사이즈
$font_size_base: 10px !default;

$font_size_xsmall: $font_size_base * 1.2 !default;
$font_size_small: $font_size_base * 1.4 !default;
$font_size_medium: $font_size_base * 1.6 !default; // 기본 폰트 사이즈
$font_size_large: $font_size_base * 1.8 !default;
$font_size_xlarge: $font_size_base * 2 !default;
$font_size_xxlarge: $font_size_base * 2.4 !default;
$font_size_xxxlarge: $font_size_base * 2.8 !default;

$font_size_default: $font_size_medium !default; // 기본 폰트 사이즈 = 16px

// 행높이
$line_height_base: 1.4 !default;

$line_height_normal: floor($font_size_base * $line-height-base) !default;

// 폰트 두께
$font_weight_base: 500 !default;

$font_weight_default: $font_weight_base !default;