//
// Variables
// ---------------------------------------// ---------------------------------------

//== Colors
//
//## 요구되는 색상을 변수로 설정

// primary
$violet_5534da: #5534da !default; //primary
$violet_f1effd: #f1effd !default; //primary container

// 무채색 계열
$black_000000: #000 !default;
$black_171717: #171717 !default;
$black_333236: #333236 !default;
$black_4b4b4b: #4b4b4b !default;
$gray_787486: #787486 !default;
$gray_9fa6b2: #9fa6b2 !default;
$gray_d9d9d9: #d9d9d9 !default;
$gray_eeeeee: #eeeeee !default;
$gray_fafafa: #fafafa !default;
$white_ffffff: #ffffff !default;

// 대시보드 색상
$purple_760dde: #760dde !default;
$red_d6173a: #d6173a !default;
$green_7ac555: #7ac555 !default;
$orange_ffa500: #ffa500 !default;
$blue_76a6ea: #76a6ea !default;
$pink_e876ea: #e876ea !default;

