@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixin';
* {
  box-sizing: border-box;
}
html {
  font-size: $font_size_base;
}
//== 기본값 정의
body {
  background-color: $surface;
  color: $text_color;
  font-family: $font_family_base;
  font-size: $font_size_default;
  font-weight: $font_weight_default;
  line-height: $line_height_normal;
}
// 버튼 기본 스타일 없애기
button {
  border: none;
  padding: unset;
  background-color: unset;
  cursor: pointer;
}
// a 태그 기본 스타일 없애기
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

// datepicker 사이즈 변경
.react-datepicker__month-container {
  width: 15rem;
  height: 15rem;
  font-size: $font_size_xsmall;
}
.react-datepicker-wrapper {
  width: 100%;
}
