@import '../../../styles/mixin';
@import '../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 62rem;
  @include mobile {
    padding: 2.8rem 2rem 2rem 2rem;
  }
  @include tablet {
    padding: 3.2rem 2.8rem 2.8rem 2.8rem;
  }
}

.title {
  margin: 0;
  @include mobile {
    font-size: $font_size_xlarge;
    font-weight: 700;
    margin-bottom: 2.4rem;
  }
  @include tablet {
    font-size: $font_size_xxlarge;
    margin-bottom: 3.2rem;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mobile {
    gap: 1.6rem;
  }
  @include tablet {
    gap: 2rem;
    font-size: $font_size_large;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  @include mobile {
    margin-top: 1.6rem;
  }
  @include tablet {
    margin-top: 2.4rem;
  }
}
