@import '../../../styles/variables';
@import '../../../styles/mixin';

.container {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  border-radius: 0.4rem;
  text-align: center;
  @include mobile {
    height: 2rem;
  }

  @include tablet {
    height: 2rem;
  }

  @include desktop {
    height: 2.2rem;
  }
  &.orange {
    background-color: #f9eee3;
    color: #d58d49;
  }

  &.green {
    background-color: #e7f7db;
    color: #86d549;
  }

  &.pink {
    background-color: #f7dbf0;
    color: #d549b6;
  }

  &.blue {
    background-color: #dbe6f7;
    color: #4981d5;
  }
}
